* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 24px;
    margin-bottom: 24px;
}
.pics {
    width: 1075px;
    background-color: #fff;
    padding: 40px 106px 20px 20px;
    margin-top: 20px;
}
.pics ul {
    padding-left: 10px;
    padding-top: 12px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}
.pics ul li {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    list-style: none;
    margin-right: 5px;
    margin-bottom: 50px;
}
.play .playButton {
    position: absolute;
    width: 10px;
    right: 40px;
    top: 8px;  
}
.play .playCounts {
    position: absolute;
    font-size: 10px;
    color: #fff;
    left: 155px;
    top: 15px;  
}
.pics ul li h4 {
    font-size: 12px;
    font-weight: normal;
    margin: 5px 10px;
}
.pics ul li img {
    width: 190px;
    margin: 10px;
}
